<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jjfs.daemon</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{JJFSD_PATH}}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{HOME}}/.jjfs/daemon.log</string>
    <key>StandardErrorPath</key>
    <string>{{HOME}}/.jjfs/daemon.error.log</string>
</dict>
</plist>
